{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}BrainFood{% endblock %}</title>
  
  <!-- Axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="{% static "css/base.css" %}}">
  <script src="{% static "js/base.js" %}">
  
  {% block extra_head %}{% endblock %}
</head>
<body>
  <header>
    <div class="logo">{% block header_title %}채팅 서비스{% endblock %}</div>
    <a href="{% url 'profile' %}" class="profile-link">
      프로필
      <div class="profile-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
      </div>
    </a>
  </header>

  <main>
    {% block content %}
    
    {% endblock %}
  </main>
</body>
</html>